* {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}

.main {
  background-image: url("assests/img/bg.jpg");
  background-position: center center;
  background-repeat: none;
  background-size: max(1200px, 100vw);
  position: relative;
  height: 80vh;
}

.main .box {
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  z-index: 1; /* Add this */
}

nav {
  display: flex;
  height: 100px;
  max-width: 60vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav img {
  width: 150px;
  height: 200px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  position: relative;
  z-index: 10;
}

.hero:first-child {
  font-size: 2.5rem;
}